<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>The Metron - Industry and Factory HTML Template | About Us</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<!--<link href="css/color.css" rel="stylesheet">-->

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header">
    <!-- Header Top -->
    <div class="header-top">
        <div class="auto-container">
            <div class="top-outer clearfix">
                <!--Top Left-->
                <div class="top-left">
                    <ul class="links clearfix">
                        <li><a href="#"><span class="icon fa fa-phone"></span>  +0 625-07520-6644</a></li>
                        <li><a href="#"><span class="icon fa fa-envelope-o"></span>Mailus@Metroindustry.com</a></li>
                        <li><a href="#"><span class="icon flaticon-placeholder-2"></span>Locate Us</a></li>
                    </ul>
                </div>
                <!--Top Right-->
                <div class="top-right clearfix">
                    <ul class="clearfix">
                        <!-- Dil seçenekleri -->
                        <li class="dropdown language">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="https://flagcdn.com/16x12/gb.png" alt="English" style="width:16px; height:12px; margin-right:5px;"> English <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <img src="https://flagcdn.com/16x12/gb.png" alt="English" style="width:16px; height:12px; margin-right:5px;">
                                        English
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="https://flagcdn.com/16x12/sa.png" alt="Arabic" style="width:16px; height:12px; margin-right:5px;">
                                        Arabic
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>                        
                </div>
            </div>
        </div>
    </div>
    <!-- Header Top End -->
    <!-- Main Box -->
    <div class="main-box">
        <div class="auto-container">
            <div class="outer-container clearfix">
                <!--Logo Box-->
                <div class="logo-box">
                    <div class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
                </div>
                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="index.html">Anasayfa</a></li>
                                <li class="current"><a href="about.html">Hakkımızda</a></li>
                                <li class="dropdown"><a href="market-sectors.html">Ürünler</a></li>
                                <li><a href="contact.html">İletişim</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                </div>
                <!--Nav Outer End-->
            </div>    
        </div>
    </div>
    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container">
            <div class="outer-container clearfix">
                <!--Logo Box-->
                <div class="logo-box pull-left">
                    <div class="logo"><a href="index.html"><img src="images/logo-small.png" alt=""></a></div>
                </div>
                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="index.html">Anasayfa</a></li>
                                <li class="current"><a href="about.html">Hakkımızda</a></li>
                                <li class="dropdown"><a href="market-sectors.html">Ürünler</a></li>
                                <li><a href="contact.html">İletişim</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                </div>
                <!--Nav Outer End-->
            </div>
        </div>
    </div>
    <!--End Sticky Header-->
</header>
<!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/6.jpg)">
        <div class="auto-container">
            <ul class="page-breadcrumb">
                <li><a href="index.html">Anasayfa</a></li>
                <li>Hakkımızda</li>
            </ul>
            <h1>Hakkımızda</h1>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Company Section-->
    <section class="company-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="sec-title">
                        	<h2>Company Over View</h2>
                            <div class="separator centered"></div>
                        </div>
                        <div class="bold-text">We Providing Best Indutrial Solution For Our Customers Business Growing In Last 25+ Years.</div>
                        <div class="text">
                        	<p>Pleasure and praising pain was born and will give you complete works of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness explain too you this mistaken praising pain was born and will give you a complete account the system, and expound.</p>
                            <p>Denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of  truth, the master-builder of human happiness.</p>
                        </div>
                        <div class="signature"><img src="images/resource/signature.png" alt="" /></div>
                    </div>
                </div>
                
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="image">
                        	<img src="images/resource/company.jpg" alt="" />
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Company Section-->
    
    <!--Highlights Section-->
    <section class="highlights-section">
    	<div class="image-layer" style="background-image:url(images/background/10.jpg)"></div>
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Column-->
              
                
                <!--Services Column-->
                <div class="services-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                        <div class="upper-box">
                            <div class="icon flaticon-target"></div>
                            <h2>Our Mission</h2>
                        </div>
                        <div class="text">We work systematically to integrate corporate responsibility in our core business and make our expertise available for the benefit of the to take a trivial example, which of us ever undertakes laborious physical exercise,societies...</div>
                        <a href="market-sectors.html" class="services">Our Services <span class="icon flaticon-arrow-pointing-to-right"></span></a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Highlights Section-->
    
    
    
    <!--Achived Section-->
    <section class="achived-section" style="background-image:url(images/background/11.jpg)">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Title Column-->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="sec-title light">
                        	<h2>What We Achived</h2>
                            <div class="separator"></div>
                        </div>
                        <div class="title">Strength & growth comes only through continuous effort.</div>
                        <ul class="achived-list">
                        	<li class="icon flaticon-engineer"></li>
                            <li class="number">1635</li>
                            <li><a href="#">Engineers & Workers</a></li>
                        </ul>
                        <div class="text">Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you sed a complete account of the system expound  know how to pursue pleasure .</div>
                    </div>
                </div>
                <!--Graph Column-->
                <div class="graph-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	
                        <!--Progress Levels-->
                        <div class="progress-levels">
                            <div class="row clearfix">
                            
                                <!--Skill Box-->
                                <div class="progress-box wow">
                                    <div class="inner count-box">
                                        <div class="bar">
                                            <div class="bar-innner">
                                                <div class="bar-fill" data-percent="90">
                                                	<div class="skill-percent">
                                                		<span class="count-text" data-speed="3000" data-stop="95">0</span>
                                                		<span class="percent">%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text">Production</div>
                                    </div>
                                </div>
                                
                                <!--Skill Box-->
                                <div class="progress-box wow">
                                    <div class="inner count-box">
                                        <div class="bar">
                                            <div class="bar-innner">
                                                <div class="bar-fill" data-percent="45">
                                                	<div class="skill-percent">
                                                		<span class="count-text" data-speed="3000" data-stop="45">0</span>
                                                		<span class="percent">%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text">EPC Works</div>
                                    </div>
                                </div>
                                
                                <!--Skill Box-->
                                <div class="progress-box wow">
                                    <div class="inner count-box">
                                        <div class="bar">
                                            <div class="bar-innner">
                                                <div class="bar-fill" data-percent="85">
                                                	<div class="skill-percent">
                                                		<span class="count-text" data-speed="3000" data-stop="85">0</span>
                                                		<span class="percent">%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text">Domestic</div>
                                    </div>
                                </div>
                                
                                <!--Skill Box-->
                                <div class="progress-box wow">
                                    <div class="inner count-box">
                                        <div class="bar">
                                            <div class="bar-innner">
                                                <div class="bar-fill" data-percent="70">
                                                	<div class="skill-percent">
                                                		<span class="count-text" data-speed="3000" data-stop="70">0</span>
                                                		<span class="percent">%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text">International</div>
                                    </div>
                                </div>
                                
                                <!--Skill Box-->
                                <div class="progress-box wow">
                                    <div class="inner count-box">
                                        <div class="bar">
                                            <div class="bar-innner">
                                                <div class="bar-fill" data-percent="90">
                                                	<div class="skill-percent">
                                                		<span class="count-text" data-speed="3000" data-stop="100">0</span>
                                                		<span class="percent">%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text">Satisfaction</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Achived Section-->
    
    <!--Team Section-->
  
    <!--End Team Section-->
    
   
    
    <!--Quote Form-->
    <div class="modal fade" id="schedule-box" tabindex="-1" role="dialog">
      <div class="modal-dialog popup-container container" role="document">
        <div class="modal-content">
            <div class="appoinment_form_wrapper clear_fix">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                <div class="get-quote-form" style="background-image:url(images/background/13.jpg)">
                	<div class="inner-box">
                    	<!--Sec Title-->
                        <div class="sec-title">
                        	<div class="clearfix">
                            	<div class="pull-left">
                                	<h2>Get a Quote</h2>
                                    <div class="separator centered"></div>
                                </div>
                                <div class="pull-left">
                                	<div class="text">Get a free quote for your industrial or engineering business solutions, We are here 24/7.</div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Quote Form / Style Two-->
                        <div class="quote-form style-two">
                            <!--Shipping Form-->
                            <form method="post" action="contact.html">
                                <div class="row clearfix">
                                	<div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="text" placeholder="Your Name" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="text" placeholder="Company Name" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="text" placeholder="Phone" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <select class="custom-select-box">
                                            <option>Select Needed Service</option>
                                            <option>Services One</option>
                                            <option>Services Two</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <textarea placeholder="Your Message..."></textarea>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form">Send Now <span class="icon flaticon-arrow-pointing-to-right"></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div> 
        </div> 
      </div> 
      <a href="index.html" class="backhome">Back to Home <span class="icon flaticon-arrow-pointing-to-right"></span></a>
    </div>
    <!-- End of Quote box -->
    
    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--Column-->
                    <div class="column col-md-5 col-sm-6 col-xs-12">
						<div class="footer-widget logo-widget">
							<div class="logo">
                            	<a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
                            </div>
                            <div class="widget-content">
                            	<div class="text">Global Street 5004, Newyork, United States.</div>
                                <ul class="list">
                                	<li>+0 625-07520-6644 </li>
                                    <li>Mailus@Metroindustry.com</li>
                                </ul>
                                <div class="timing">
                                	<span>Visit Our Office:</span>Monday - Satday: 9.00am to 5.00pm
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Column-->
                    <div class="column col-md-4 col-sm-6 col-xs-12">
						<div class="footer-widget links-widget">
                        	<div class="footer-title">
                            	<h2>Usefull Links</h2>
                            </div>
                            <div class="row clearfix">
                                <div class="column col-md-6 col-sm-6 col-xs-12">
                                	<ul class="links">
                                    	<li><a href="about.html">Hakkımızda</a></li>
                                        <li><a href="#">Meet Our Team</a></li>
                                        <li><a href="#">Case Studies</a></li>
                                        <li><a href="#">Get a Quote</a></li>
                                        <li><a href="#">Testimonials</a></li>
                                        <li><a href="#">İletişim</a></li>
                                    </ul>
                                </div>
                                <div class="column col-md-6 col-sm-6 col-xs-12">
                                	<ul class="links">
                                    	<li><a href="market-sectors.html">Ürünler</a></li>
                                        <li><a href="#">Industries</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Why Choose Us</a></li>
                                        <li><a href="#">Sustainability</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Column-->
                    <div class="column col-md-3 col-sm-6 col-xs-12">
						<div class="footer-widget material-widget">
                        	
                           
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-bottom">
        	<div class="auto-container">
                <div class="row clearfix">
                    
                   
                    </div>
                    
                </div>
                
                <div class="copyright">Copyright © 2025 <a href="#">The Metron Industry</a> Theme by <a href="#">Themekalia.</a> All rights reserved.</div>
                
            </div>
        </div>
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/knob.js"></script>
<script src="js/appear.js"></script>
<script src="js/script.js"></script>

</body>
</html>