<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>The Metron - Industry and Factory HTML Template | Homepage Style One</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
<link href="plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
<link href="plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
<link href="css/responsive.css" rel="stylesheet">
<!--<link href="css/color.css" rel="stylesheet">-->

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header">
    
    	<!-- Header Top -->
    	<div class="header-top">
        	<div class="auto-container">
            	<div class="top-outer clearfix">
                    
                    <!--Top Left-->
                    <div class="top-left">
                    	<ul class="links clearfix">
                        	<li><a href="#"><span class="icon fa fa-phone"></span>  +0 625-07520-6644</a></li>
                            <li><a href="#"><span class="icon fa fa-envelope-o"></span>Mailus@Metroindustry.com</a></li>
                            <li><a href="#"><span class="icon flaticon-placeholder-2"></span>Locate Us</a></li>
                        </ul>
                    </div>
                    
                    <!--Top Right-->
                    <div class="top-right clearfix">
                    	<ul class="clearfix">
                        	<!-- Dil seçenekleri -->
                            <li class="dropdown language">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="https://flagcdn.com/16x12/gb.png" alt="English" style="width:16px; height:12px; margin-right:5px;"> English <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">
                                            <img src="https://flagcdn.com/16x12/gb.png" alt="English" style="width:16px; height:12px; margin-right:5px;">
                                            English
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="https://flagcdn.com/16x12/sa.png" alt="Arabic" style="width:16px; height:12px; margin-right:5px;">
                                            Arabic
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>                        
                    </div>
                    
                </div>
                
            </div>
        </div>
        <!-- Header Top End -->
        
        <!-- Main Box -->
    	<div class="main-box">
        	<div class="auto-container">
            	<div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
                    </div>
                    
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                    
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="current dropdown"><a href="#">Anasayfa</a>
                                    	
                                    </li>
                                    <li><a href="about.html">Hakkımızda</a></li>
                                    <li class="dropdown"><a href="market-sectors.html">Ürünler</a>
                                    	
                                    </li>
                                    <li><a href="contact.html">İletişim</a></li>
                                 </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        
                    </div>
                    <!--Nav Outer End-->
                    
            	</div>    
            </div>
        </div>
    	
        <!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container">
            	
                <div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box pull-left">
                        <div class="logo"><a href="index.html"><img src="images/logo-small.png" alt=""></a></div>
                    </div>
                    
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="current dropdown"><a href="#">Anasayfa</a>
                                    	
                                    </li>
                                    <li class="dropdown"><a href="about.html">Hakkımızda</a>
                                    	
                                    </li>
                                    <li class="dropdown"><a href="market-sectors.html">Ürünler</a>
                                    	
                                    </li>
                                   
                                    <li><a href="contact.html">İletişim</a></li>
                                 </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        
                    </div>
                    <!--Nav Outer End-->
                    
            	</div>
                
            </div>
        </div>
        <!--End Sticky Header-->
        
    </header>
    <!--End Main Header -->
    
    <!--Main Slider-->
    <section class="main-slider">
    	
        <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                <ul>
                	
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/main-slider/image-1.jpg"> 
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['650','700','650','460']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-80','-90','-70','-80']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                    	<h2>Provide superior <br> & best quality <br> results.</h2>
                    </div>
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['650','700','650','460']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['80','60','60','40']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                    	<div class="text">Our Company has consistently embraced innovation to <br> provide a superior level of excellence.</div>
                    </div>
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['550','550','550','460']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['150','130','130','130']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                    	<a href="about.html" class="know_more"><span class="icon flaticon-right-arrow-1"></span> Know More About Us</a>
                    </div>
                    
                    </li>
                    
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-2.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/main-slider/image-2.jpg"> 
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['550','800','750','500']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-80','-80','-70','-80']"
                    data-x="['right','right','right','right']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                    	<h2>We are leader in power & automation technology</h2>
                    </div>
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['550','800','750','500']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['80','40','50','40']"
                    data-x="['right','right','right','right']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                    	<div class="text">Our Company has consistently embraced innovation to <br> provide a superior level of excellence.</div>
                    </div>
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['550','800','750','500']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['150','110','130','130']"
                    data-x="['right','right','right','right']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                    	<a href="about.html" class="know_more"><span class="icon flaticon-right-arrow-1"></span> Market Sectors</a>
                    </div>
                    
                    </li>
                    
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-3.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/main-slider/image-3.jpg"> 
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['650','700','650','460']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-80','-90','-70','-80']"
                    data-x="['left','left','left','left']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                    	<h2>Save the planet by <br> using renewable <br> energy</h2>
                    </div>
                    
                
                    
                   
                    
                    </li>
                    
                </ul>
            </div>
        </div>
    </section>
    <!--End Main Slider-->
    
    <!--Services Section-->
    <section class="services-section" style="background-image:url(images/background/1.jpg)">
    	<div class="auto-container">
        	<div class="inner-container">
            	<div class="row clearfix">
                    <!--Services Block-->
                    <div class="services-block col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/resource/service-1.jpg" alt="" />
                            </div>
                            <div class="lower-content">
                                <div class="icon-box">
                                    <span class="icon flaticon-alarm-clock"></span>
                                </div>
                                <h3>Punctual Delivery Time</h3>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="text">There anyone who loves or pursues or desires too obtains pain of itself, because it is  workers all occur.</div>
                                    <a href="market-single.html" class="know-more">Know More <span class="icon flaticon-right-arrow-1"></span></a>
                                    <div class="overlay-lower-inner">
                                    	<div class="overlay-icon flaticon-alarm-clock"></div>
                                    	<h4><a href="market-single.html">Punctual Delivery Time</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Services Block-->
                    <div class="services-block col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/resource/service-3.jpg" alt="" />
                            </div>
                            <div class="lower-content">
                                <div class="icon-box">
                                    <span class="icon flaticon-education"></span>
                                </div>
                                <h3>Smart Technology</h3>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="text">There anyone who loves or pursues or desires too obtains pain of itself, because it is  workers all occur.</div>
                                    <a href="market-single.html" class="know-more">Know More <span class="icon flaticon-right-arrow-1"></span></a>
                                    <div class="overlay-lower-inner">
                                    	<div class="overlay-icon flaticon-education"></div>
                                    	<h4><a href="market-single.html">Smart Technology</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Services Block-->
                    <div class="services-block col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/resource/service-2.jpg" alt="" />
                            </div>
                            <div class="lower-content">
                                <div class="icon-box">
                                    <span class="icon flaticon-time"></span>
                                </div>
                                <h3>Easy and Affortable</h3>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="text">There anyone who loves or pursues or desires too obtains pain of itself, because it is  workers all occur.</div>
                                    <a href="market-single.html" class="know-more">Know More <span class="icon flaticon-right-arrow-1"></span></a>
                                    <div class="overlay-lower-inner">
                                    	<div class="overlay-icon flaticon-time"></div>
                                    	<h4><a href="market-single.html">Easy and Affortable</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Services Block-->
                    <div class="services-block col-md-3 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image">
                                <img src="images/resource/service-3.jpg" alt="" />
                            </div>
                            <div class="lower-content">
                                <div class="icon-box">
                                    <span class="icon flaticon-engineer"></span>
                                </div>
                                <h3>Team Of Professionals</h3>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="text">There anyone who loves or pursues or desires too obtains pain of itself, because it is  workers all occur.</div>
                                    <a href="market-single.html" class="know-more">Know More <span class="icon flaticon-right-arrow-1"></span></a>
                                    <div class="overlay-lower-inner">
                                    	<div class="overlay-icon flaticon-engineer"></div>
                                    	<h4><a href="market-single.html">Team Of Professionals</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Services Section-->
    
   	<!--Market Section-->
    <section class="market-section" style="background-image:url(images/background/2.jpg)">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Column-->
                <div class="title-column m-block col-lg-4 col-md-12 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="sec-title light">
                        	<h2>Market Sectors</h2>
                            <div class="separator"></div>
                        </div>
                        <div class="text">Over 24 years experience & knowledge of international industrial systems, dedicated to provide the best economical solutions.</div>
                        <a href="market-sectors.html" class="view_all"><span class="icon flaticon-right-arrow-1"></span> View All Sectors</a>
                    </div>
                </div>
                
                <!--Market Block-->
                <div class="market-block m-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<h3><a href="market-single.html">Automotive <br> Manufacturing</a></h3>
                        <div class="text">Denouncing pleasure and praising pain was born  give you a complete...</div>
                        <div class="icon-box">
                        	<span class="icon flaticon-conveyor"></span>
                        </div>
                        <a href="market-sectors.html" class="view_all">Go Through <span class="icon flaticon-right-arrow-1"></span></a>
                    </div>
                </div>
                
                <!--Market Block-->
                <div class="market-block m-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<h3><a href="market-single.html">Industrial <br> Construction</a></h3>
                        <div class="text">Denouncing pleasure and praising pain was born  give you a complete...</div>
                        <div class="icon-box">
                        	<span class="icon flaticon-demolishing"></span>
                        </div>
                        <a href="market-sectors.html" class="view_all">Go Through <span class="icon flaticon-right-arrow-1"></span></a>
                    </div>
                </div>
                
               
        </div>
    </section>
    <!--End Market Section-->
    
    
    
   
    
    <!--Career Section-->
    <section class="career-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Video Column-->
                <div class="video-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="image">
                        	<img src="images/resource/video-img.jpg" alt="" />
                            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image play-btn">
                                <span class="icon flaticon-play-button-3"></span>
                                Play Video
                            </a>
                        </div>
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="sec-title">
                        	<h2>Find Your Career at <br> Metro.</h2>
                            <div class="separator centered"></div>
                        </div>
                        <div class="text">Idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the explorer truth, the master-builder of human happiness.</div>
                        <ul class="list-style-one">
                        	<li><strong>Assembler / Fabricator</strong>Assemblers and fabricators put together pieces...</li>
                            <li><strong>Quality Control Inspector</strong>Quality control inspectors examine materials and products...</li>
                        </ul>
                        <a class="see_all" href="#">See All Positions <span class="icon flaticon-right-arrow-1"></span></a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Career Section-->
    
   
    
   
    
    
    
    
   
    
    <!--Appointment Form-->
    <div class="modal fade" id="schedule-box" tabindex="-1" role="dialog">
      <div class="modal-dialog popup-container container" role="document">
        <div class="modal-content">
            <div class="appoinment_form_wrapper clear_fix">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                <div class="get-quote-form" style="background-image:url(images/background/13.jpg)">
                	<div class="inner-box">
                    	<!--Sec Title-->
                        <div class="sec-title">
                        	<div class="clearfix">
                            	<div class="pull-left">
                                	<h2>Get a Quote</h2>
                                    <div class="separator centered"></div>
                                </div>
                                <div class="pull-left">
                                	<div class="text">Get a free quote for your industrial or engineering business solutions, We are here 24/7.</div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Quote Form / Style Two-->
                        <div class="quote-form style-two">
                            <!--Shipping Form-->
                            <form method="post" action="contact.html">
                                <div class="row clearfix">
                                	<div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="text" placeholder="Your Name" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="text" placeholder="Company Name" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="text" placeholder="Phone" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <select class="custom-select-box">
                                            <option>Select Needed Service</option>
                                            <option>Services One</option>
                                            <option>Services Two</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <textarea placeholder="Your Message..."></textarea>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form">Send Now <span class="icon flaticon-arrow-pointing-to-right"></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div> 
        </div> 
      </div> 
      <a href="index.html" class="backhome">Back to Home <span class="icon flaticon-arrow-pointing-to-right"></span></a>
    </div>
    <!-- End of #schedule-box -->
    
    <!--Main Footer-->
    <footer class="main-footer">
    	<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--Column-->
                    <div class="column col-md-5 col-sm-6 col-xs-12">
						<div class="footer-widget logo-widget">
							<div class="logo">
                            	<a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
                            </div>
                            <div class="widget-content">
                            	<div class="text">Global Street 5004, Newyork, United States.</div>
                                <ul class="list">
                                	<li>+0 625-07520-6644 </li>
                                    <li>Mailus@Metroindustry.com</li>
                                </ul>
                                <div class="timing">
                                	<span>Visit Our Office:</span>Monday - Satday: 9.00am to 5.00pm
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Column-->
                    <div class="column col-md-4 col-sm-6 col-xs-12">
						<div class="footer-widget links-widget">
                        	<div class="footer-title">
                            	<h2>Usefull Links</h2>
                            </div>
                            <div class="row clearfix">
                                <div class="column col-md-6 col-sm-6 col-xs-12">
                                	<ul class="links">
                                    	<li><a href="about.html">Hakkımızda</a></li>
                                        <li><a href="#">Meet Our Team</a></li>
                                        <li><a href="#">Case Studies</a></li>
                                        <li><a href="#">Get a Quote</a></li>
                                        <li><a href="#">Testimonials</a></li>
                                        <li><a href="#">İletişim</a></li>
                                    </ul>
                                </div>
                                <div class="column col-md-6 col-sm-6 col-xs-12">
                                	<ul class="links">
                                    	<li><a href="market-sectors.html">Ürünler</a></li>
                                        <li><a href="#">Industries</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Why Choose Us</a></li>
                                        <li><a href="#">Sustainability</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Column-->
                    <div class="column col-md-3 col-sm-6 col-xs-12">
						<div class="footer-widget material-widget">
                        	
                           
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-bottom">
        	<div class="auto-container">
                <div class="row clearfix">
                    
                   
                    </div>
                    
                </div>
                
                <div class="copyright">Copyright © 2025 <a href="#">The Metron Industry</a> Theme by <a href="#">Themekalia.</a> All rights reserved.</div>
                
            </div>
        </div>
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

<script src="js/jquery.js"></script> 
<!--Revolution Slider-->
<script src="plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="js/main-slider-script.js"></script>

<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/owl.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/wow.js"></script>
<script src="js/knob.js"></script>
<script src="js/appear.js"></script>
<script src="js/script.js"></script>

</body>
</html>

